[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
langchain = "*"
bs4 = "*"
langchain-huggingface = "*"
langchain-ollama = "*"
chromadb = "*"
sentence-transformers = "*"
langchain-community = "*"
ollama = "*"
argparse = "*"
langchain-chroma = "*"
pudb = "*"
termcolor = "*"

[dev-packages]

[requires]
python_version = "3.x"
